/*------------------------------------*\
  # Home
\*------------------------------------*/

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .home__menu {
    height: 22rem;
    margin: 2.5rem 0 0 0;
    order: 2;
    position: relative;
    min-width: 350px;
  }

  .home__map {
    flex-grow: 1;
    order: 1;
    position: relative;
  }

  @media screen and (min-width: map-get($breakpoints, medium)) {
    flex-direction: row;

    .home__menu {
      flex-grow: 1;
      margin: 0;
      order: 1;
    }
  
    .home__map {
      flex-grow: 10;
      order: 2;
    }
  }
}

/*------------------------------------*\
# User Menu
\*------------------------------------*/

.avatar {
  background: $sky-blue;
  border-radius: 50%;
  height: 150px;
  margin-bottom: 1rem;
  width: 150px;
  @include flex-center;

  &--clickable {
    cursor: pointer;

    svg {
      cursor: pointer;
    }
  } 
  
  .preview {
    @include flex-center;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;    

    img {   
      cursor: pointer;
      max-width: 100%;
      max-height: 100%;
      width: fit-content;
      height: fit-content;
      object-fit: cover;
    }
  }

  input[type=file] { 
    visibility: hidden;
    position: absolute
  }
}

.userMenu {
  @include flex-center;
  border-bottom: 1px solid rgba(0, 0, 0, .5);
  padding-bottom: 2rem;

  .userMenu__actions {
    @include flex-center;
    flex-direction: row;

    a:first-child:after {
      content: "/";
      color: $dark-gray;
      position: absolute;
      right: -.8rem;
    }
    
    & > * {
      margin: 0 .6rem;
    }
  }
}
