/*------------------------------------*\
# User Menu
\*------------------------------------*/

.avatar {
  background: $sky-blue;
  border-radius: 50%;
  height: 100px;
  margin-bottom: 1rem;
  width: 100px;
  @include flex-center;

  @media screen and (min-width: map-get($breakpoints, medium)) {
    height: 150px;
    width: 150px;
  }

  &--clickable {
    cursor: pointer;

    svg {
      cursor: pointer;
    }
  } 
  
  .preview {
    @include flex-center;
    border-radius: 50%;
    height: 100px;
    overflow: hidden;
    
    @media screen and (min-width: map-get($breakpoints, medium)) {
      height: 150px;
    }

    img {   
      cursor: pointer;
      height: fit-content;
      max-height: 100%;
      max-width: 100%;
      object-fit: cover;
      width: fit-content;
    }
  }

  input[type=file] {
    position: absolute; 
    visibility: hidden
  }
}

.mobile__menu {
    height: 4rem;
  position: absolute;
    right: 1rem;
    top: 1rem;
    width: 4rem;

    .avatar {
      box-shadow: 0 0 10px 4px rgba(0,0,0,0.3);
      height: 100%;
      width: 100%;
    }
}

.userMenu {
  @include flex-center;  
  padding-bottom: 2rem;

  @media screen and (min-width: map-get($breakpoints, medium)) {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
  }

  .userMenu__actions {
    @include flex-center;
    flex-direction: row;

    a:first-child:after {
      color: $dark-gray;
      content: "/";
      position: absolute;
      right: -.8rem;
    }
    
    & > * {
      margin: 0 .6rem;
    }
  }
}
