@import "~loaders.css/src/animations/ball-scale-multiple";
@import '@material/react-drawer/index.scss';
@import "settings";
@import "mixins";
@import "variables";
@import 'components/all';
@import 'containers/all';

html {
  font: 13px "Open Sans", Helvetica, Arial, sans-serif;

  /* Large and up */
  @media screen and (min-width: 64em) {
    font: 15px "Open Sans", Helvetica, Arial, sans-serif;
  }
}

body {
  font-size: 100%;
}

.loading-wrapper {
  align-items: center;
  display: flex;
  height: 5rem;
  justify-content: center;
  width: 5rem;

  // These two classes are required by react-loaders
  .loader-hidden {
    display: none;
  }
  .loader-active {
    display: block;
  }
}

/*------------------------------------*\
  # Common
\*------------------------------------*/

.title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
  margin-top: 1rem;
  text-align: center;
  text-transform: uppercase;
}

.subtitle {
  font-size: 1.3rem;
  font-weight: 400;
}

.copy {
  font-size: .9rem;
  font-weight: normal;
  letter-spacing: .01rem;
  line-height: 1.5;
  margin-bottom: 1rem;
  text-align: center;
  text-align: justify;

  /* Large and up */
  @media screen and (min-width: map-get($breakpoints, medium)) {
    margin-bottom: 4rem;
  }

  &.copy--bold {
    font-weight: 400;
  }
}

.page-container {
  background: $white;
  padding: 2rem;
  padding: 2rem;
  @include flex-center;

  &.page-container--shrink {
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
  }

  &.page-container--padded {
    padding: 3rem 2rem;

    @media screen and (min-width: map-get($breakpoints, medium)) {
      padding: 5rem 2rem;
    }
  }

  &.page-container--full-height {
    @media screen and (min-width: map-get($breakpoints, medium)) {    
      height: 100vh;
    }
  }
}

.link {
  border-bottom: 1px solid transparent;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  padding-top: 1rem;
  position: relative;
  text-align: center;
  text-transform: uppercase;

  @media screen and (min-width: map-get($breakpoints, medium)) {
    font-size: .9rem;
  }

  &:hover {
    border-bottom: 1px solid $black;
    color: $black;
  }

  &.link--primary {
    color: $sky-blue;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: none;

    &:hover {
      border-bottom: 1px solid $sky-blue;
      color: $sky-blue;
    }
  }

  &.link--secondary {
    color: $dark-gray;
    font-weight: 600;
    letter-spacing: 1.8px;
    text-transform: none;

    &:hover {
      border-bottom: 1px solid $dark-gray;
      color: $dark-gray;
    }
  }

  &.link-separator {
    padding-top: 1rem;

    &:before {
      border-top: 1px solid $black;
      border-top: 1px solid $black;
      content: "";
      height: 2px;
      left: 50%;
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100px;
    }
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .container__menu {
    height: 22rem;
    margin: 2.5rem 0 0 0;
    min-width: 320px;
    order: 2;
    position: relative;

    &--full-height {
      height: inherit;
      margin: 0;
      order: 1;
    }
  }

  .container__map {
    flex-grow: 1;
    order: 1;
    position: relative;
  }

  @media screen and (min-width: map-get($breakpoints, medium)) {
    flex-direction: row;

    .container__menu {
      flex-grow: 1;
      margin: 0;
      order: 1;
    }
  
    .container__map {
      flex-grow: 10;
      order: 2;
    }
  }
}

.container--spaced {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.container--centered {
  @include flex-center;
  height: 100%;
}

.footer {
  height: 50px;
  @include flex-center;

  @media screen and (min-width: map-get($breakpoints, medium)) {
    height: 200px;
  }
}

/*------------------------------------*\
  # Logo
\*------------------------------------*/

svg.logo--small {
  width: 50px;
}

/*------------------------------------*\
  # Form
\*------------------------------------*/

.form {
  @include flex-center;
  max-width: 400px;
  position: relative;
  width: 300px;

  &.form--shrink {
    max-width: 200px;
    width: 200px;
  }

  .success {
    color: $green;
    margin-bottom: 1rem;
  }
}

/*------------------------------------*\
  # Input
\*------------------------------------*/

.input-container {
  max-width: 100%;
  text-align: center;
  width: 100%;
  @include flex-center;
}

.input {
  border: 1px solid rgba(0, 0, 0, .5);
  font-size: .8rem;
  max-width: 100%;
  width: 100%;

  &[type=number] {
    text-align: center;
  }  
}

.input-label {
  font-size: .9rem;
  font-stretch: normal;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 100%;
  padding-bottom: .3rem;
  text-transform: uppercase;
  width: 100%;
}

.input-validation {
  color: $warning;
  font-size: .7rem;
  margin-bottom: 1rem;
  max-width: 100%;
  position: relative;
  text-transform: uppercase;
  white-space: nowrap;
  width: 100%;
  @include flex-center;

  span {
    bottom: -2px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
  }
}

/*------------------------------------*\
  # Buttons
\*------------------------------------*/

.primary-action {
  background-color: $black;
  color: $white;
  cursor: pointer;
  font-size: .9rem;
  font-weight: 600;
  margin-bottom: 1rem;
  min-height: 39px;
  min-width: 200px;
  padding: .5rem 1rem;
  text-transform: uppercase;

  &.warning{
    background-color: $warning;
  }
}

/*------------------------------------*\
  # Images
\*------------------------------------*/

.demo {
  align-items: center;
  background-color: $sky-blue;
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: center;

  &__img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: auto;
  }
}

/*------------------------------------*\
  # List
\*------------------------------------*/

.list {
  @include flex-center;
}

.list-item {
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 2rem;
  padding-left: 1rem;
  position: relative;
  text-align: justify;

  &.list-item--bullet:before {
    background: $sky-blue;
    border-radius: 50%;
    content: "";
    height: .8rem;
    left: -.4rem;
    position: absolute;
    top: .4rem;
    width: .8rem;
  }
}

/*------------------------------------*\
  # Overlap Menu
\*------------------------------------*/

.overlap-menu {  
  padding: 0; 
  width: 100%;  
}

/*------------------------------------*\
  # Error
\*------------------------------------*/

.error {
  color: $warning;
  font-size: .8rem;
  margin-bottom: 1rem;
  position: absolute;
  text-transform: uppercase;
  top: -1.8rem;
}

/*------------------------------------*\
  # Fields
\*------------------------------------*/

.field-container {
  @include flex-center;
  width: 300px;

  .field {
    width: 100%;
  }
  
  .field__value {
    border: 1px solid $black;
    margin: .5rem 0;
    padding: .5rem;
  }
  
  .field__label {
    text-transform: uppercase;
  }
}

/*------------------------------------*\
  # Drawer
\*------------------------------------*/

.mdc-drawer {
  padding: 1rem 2rem;
  position: absolute;
}

/*------------------------------------*\
  # Aux
\*------------------------------------*/

.mb0 {
  margin-bottom: 0;
}

.mb1 {
  margin-bottom: 1rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.center {
  @include flex-center;
  text-align: center;  
}

.relative {
  position: relative;
}
